@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.dropdown {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.dropdown ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 10px;
  width: 300px;
  max-height: 150px;
  padding: 10px;
  overflow-y: scroll;
  box-shadow: 0 5px 20px 0 rgba(79, 102, 175, 0.2);
  visibility: hidden;
  opacity: 0;
  transition-timing-function: ease-in;
  transition: 1s;
  border-width: 1px;
  border-style: solid;
  border-color: #b5b5b5;
  border-radius: 10px;
}
.dropdown ul::-webkit-scrollbar {
  width: 6px;
  /* width of the entire scrollbar */
}
.dropdown ul::-webkit-scrollbar-thumb {
  background-color: rgba(79, 102, 175, 0.1);
  /* color of the scroll thumb */
  border-radius: 0px 10px 10px 0px;
}
.dropdown ul.show {
  opacity: 1;
  transition-timing-function: ease-out;
  transition: 1s;
  visibility: visible;
}
.dropdown .province-name {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  list-style: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.dropdown .province-name:hover {
  background-color: rgba(79, 102, 175, 0.1);
}
.dropdown .dropdown-input {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 5px 20px 0 rgba(79, 102, 175, 0.2);
  border-width: 1px;
  border-style: solid;
  border-color: #b5b5b5;
  border-radius: 10px;
}
.dropdown .dropdown-input span {
  padding-left: 5px;
}
.dropdown .dropdown-input:hover {
  border-width: 1px;
  border-style: solid;
  border-color: #4067cb;
}
.dropdown .dropdown-input .dropdown-btn {
  margin-right: 5px;
  font-size: 24px;
  transition: 1s;
}
.dropdown .dropdown-input .dropdown-btn:hover {
  border-style: hidden;
  font-size: 32px;
  /* transform: rotateX(180deg); */
  transition: 1s;
}
.dropdown .dropdown-btn-change {
  transform: rotateX(180deg);
}

nav {
  font-family: "Poppins", sans-serif;
}
nav .navbar-brand-text span {
  font-weight: 700;
  font-size: 32px;
}
nav .navbar-brand-text .nav-covi {
  color: #4f66af;
}
nav .navbar-brand-text .nav-d {
  color: #212121;
}
nav .navbar-nav a {
  font-size: 16px;
  font-weight: 500;
}
nav .nav-link {
  color: #000;
}
nav .nav-link:hover {
  color: #4f66af;
  font-weight: 600;
}

.hero-left {
  width: 500px;
}
.hero-left .hero-title {
  height: 200px;
  background-size: 90% 100%;
  background-image: url("./assets/img/World-Map-PNG-Photos 1.svg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.hero-left .hero-title h2,
.hero-left .hero-title p {
  font-family: "Poppins", sans-serif;
}
.hero-left .hero-title h1 {
  font-size: 48px;
  font-weight: 700;
}
.hero-left p {
  font-size: 20px;
}
.hero-left .hero-left-button .btn {
  width: 150px;
  border-radius: 7px;
  padding: 10px;
  font-weight: 600;
  font-size: 16px;
}
.hero-left .hero-left-button .btn:nth-child(1) {
  background-color: #4f66af;
  color: #ffffff;
  box-shadow: 0 5px 15px 0 rgba(79, 102, 175, 0.7);
}
.hero-left .hero-left-button .btn:nth-child(2) {
  background-color: #ffffff;
  color: #4f66af;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
}

.tracking h1 {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
}
.tracking span {
  font-weight: 600;
}

.tracking-all-case {
  margin-left: 5vw;
}
.tracking-all-case .tracking-case {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  border-radius: 15px;
}
.tracking-all-case .tracking-case h2,
.tracking-all-case .tracking-case p {
  font-family: "Poppins", sans-serif;
}
.tracking-all-case .iconify {
  font-size: 50px;
}
.tracking-all-case .tpc-text,
.tracking-all-case .trc-text,
.tracking-all-case .tdc-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tracking-all-case .tpc-text h2,
.tracking-all-case .tpc-text p,
.tracking-all-case .trc-text h2,
.tracking-all-case .trc-text p,
.tracking-all-case .tdc-text h2,
.tracking-all-case .tdc-text p {
  font-family: "Poppins", sans-serif;
}
.tracking-all-case .tpc-text h2,
.tracking-all-case .tpc-text p,
.tracking-all-case .trc-text h2,
.tracking-all-case .trc-text p,
.tracking-all-case .tdc-text h2,
.tracking-all-case .tdc-text p {
  color: #ffffff;
}
.tracking-all-case .tpc-text h2,
.tracking-all-case .trc-text h2,
.tracking-all-case .tdc-text h2 {
  font-size: 24px;
  font-weight: 600;
}
.tracking-all-case .tpc-text p,
.tracking-all-case .trc-text p,
.tracking-all-case .tdc-text p {
  font-size: 18px;
  align-self: flex-end;
  color: #e5e5e5;
}

.tracker-map .tracker-map-case {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  background-color: #ffffff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}
.tracker-map .tracker-map-case h2,
.tracker-map .tracker-map-case p {
  font-family: "Poppins", sans-serif;
}
.tracker-map .tracker-map-case h2 {
  font-size: 16px;
  font-weight: 600;
}
.tracker-map .tracker-map-case p {
  font-weight: 600;
  font-size: 18px;
}
.tracker-map .indonesian-map {
  width: 600px;
  height: 400px;
}
.tracker-map .tracker-map-case:nth-child(2) {
  top: 120px;
  left: 370px;
}
.tracker-map .tracker-map-case:nth-child(3) {
  top: 120px;
  left: 100px;
}
.tracker-map .tracker-map-case:nth-child(4) {
  top: 220px;
  left: 250px;
}

/*# sourceMappingURL=style.css.map */
