@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
$dropdown-box-shadow: 0 5px 20px 0 rgba(79, 102, 175, 0.2);
$dropdown-background: rgba(79, 102, 175, 0.1);
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

@mixin flex-box($justify-content, $flex-direction) {
  display: flex;
  align-items: center;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
}
.dropdown {
  @include flex-box(flex-start, column);
  ul {
    @include flex-box(flex-start, column);
    margin-top: 10px;
    width: 300px;
    max-height: 150px;
    padding: 10px;
    overflow-y: scroll;
    box-shadow: $dropdown-box-shadow;
    visibility: hidden;
    opacity: 0;
    transition-timing-function: ease-in;
    transition: 1s;
    border: {
      width: 1px;
      style: solid;
      color: #b5b5b5;
      radius: 10px;
    }
    &::-webkit-scrollbar {
      width: 6px; /* width of the entire scrollbar */
    }
    &::-webkit-scrollbar-thumb {
      background-color: $dropdown-background; /* color of the scroll thumb */
      border-radius: 0px 10px 10px 0px;
    }
    &.show {
      opacity: 1;
      transition-timing-function: ease-out;
      transition: 1s;
      visibility: visible;
    }
  }

  .province-name {
    @include flex-box(space-between, row);
    width: 100%;
    height: 100%;
    list-style: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    &:hover {
      background-color: $dropdown-background;
    }
  }
  .dropdown-input {
    @include flex-box(space-between, row);
    width: 300px;
    padding: 10px;
    cursor: pointer;
    box-shadow: $dropdown-box-shadow;
    border: {
      width: 1px;
      style: solid;
      color: #b5b5b5;
      radius: 10px;
    }
    span {
      padding-left: 5px;
    }
    &:hover {
      border: {
        width: 1px;
        style: solid;
        color: #4067cb;
      }
    }
    .dropdown-btn {
      margin-right: 5px;
      font-size: 24px;
      transition: 1s;
      &:hover {
        border-style: hidden;
        font-size: 32px;
        /* transform: rotateX(180deg); */
        transition: 1s;
      }
    }
  }
  .dropdown-btn-change {
    transform: rotateX(180deg);
  }
}
